body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.top-padding {
  padding-top: 80px;
  padding-bottom: 40px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: black; /*dash line color*/
}

hr.light {
  border-color: #fff;
}

a {
  color: #27408B;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #27408B;
}

h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
h2 {
  font-size: 50px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

.copyright {
  padding-top: 70px;
  font-size: 15px;
  padding-bottom: 0px;
  margin-bottom: -80px;
}

.aboutText {
  font-family: 'Open Sans',sans-serif; !important;
  padding-bottom: 70px;
}

.aboutHeaderText {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

.rush-text{
  color: white !important;
  font-size: 20px;
  z-index: 1;
}

.main-contact {
  color: inherit;
}

.header-underneath-text {
  font-size: 25px !important;
  font-weight: 300;
  color: black;
}

.big-rush-text {
  color: white !important;
  font-size: 33px;
}

.rush-header {
  padding-bottom: 70px;
}

.rush-box {
  border-color: white !important;
  border: 3px;
  border-style: solid;
  height: 110%;
  width: 92%;
  z-index: 2;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.initiation-spacing {
  bottom: -80px;
}

.rush-box-initiation {
  border-color: white !important;
  border: 3px;
  border-style: solid;
  height: 120%;
  width: 22%;
  z-index: 2;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.president-picture {
  width: 327px;
  height: 391px;
  border-radius: 50%;
}

#about {
  padding: 70px !important;
}

.president-box {
  margin: auto;

}

.bg-primary {
  background-color: #242735 !important;
}

.principles-primary {
  background: #ffffff);
}

.contact-primary {
  background-color: #242735 !important;
}

.bg-dark {
  background-color: white !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 100px;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #27408B;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .greek-letters {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 35px;
  color: #f0d248;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #27408B;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #27408B;
}

.letters-text {
  font-size: 30px !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #f0d248 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #f0d645;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #27408B;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #27408B;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  z-index: 1;
  -o-background-size: cover;
  background-size: cover;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  z-index: -1;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: brightness(75%) blur(2px);
  -moz-filter: brightness(75%) blur(2px);
  -o-filter: brightness(75%) blur(2px);
  -ms-filter: brightness(75%) blur(2px);
  background-image: url("../img/header1.jpg");
}

#rush {
  padding-top: 70px !important;
  padding-bottom: 180px !important;
  background-color: #27408B;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 10px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.main-text {
  -webkit-filter: brightness(100%) !important;
}

.main-text-excomm {
  font-size: 40px;
}

.margin-right {
  margin-right: -10%;
  margin-left: 10%;
}

.margin-left {
  margin-right: 10%;
  margin-left: -10%;
}

.excomm-text {
  font-size: 40px;
}

.people-text {
  width: 90%;
  margin: 0px;!important;
}


.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(39,64,139,0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #27408B !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.picturepad {
  margin-bottom: 20px;
}

.initiation {
  padding-top: 60x !important;
}

.core-values {
  padding-bottom: 30px;
}

.btn-primary {
  background-color: #27408B;
  border-color: #27408B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #2D48A4 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(45, 72, 164, 0.5) !important;
}
